@import '../../variables.scss';

.ContactLinkSection {
  @include section-horizontal-padding-small;
  @media (min-width: 1920px) {
    @include section-horizontal-padding-big;
  }
  padding-top: 55px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  background-color: $LightGrayBackground;
}

.Contact-info-block {
  width: 400px;
  margin-right: 97px;

  &__header {
    @include contact-link-header;
  }

  &__description {
    @include contact-link-text;
  }

  &__contact-block {
    display: flex;
    margin-top: 26px;
  }

  &__label {
    @include contact-link-text;
    color: $RedTextColor;
    width: 70px;
  }

  &__contact-info {
    @include contact-link-text;
    width: 290px;
  }

  &__subscribtion {
    display: flex;
    margin-top: 65px;
  }
  &__subscribtion-input {
    width: 230px;
    @include contact-link-text;
    color: #9e9e9e;
    border: 2px solid #e0e0e0;
    border-right: none;
    padding: 10px 15px;
  }

  &__subscribtion-button {
    padding: 10px 20px;
    @include contact-link-text;
    color: #ffffff;
    background-color: $MainBlackColor;
  }

  &__social {
    display: flex;
    margin-top: 35px;
  }

  &__social-icon {
    margin-right: 20px;
    color: #9e9e9e;
    font-size: 20px;
  }
}

.Contact-link-block {

  &__header-top {
    @include contact-link-header;
  }

  &__feedback-content {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #000000;
    margin-right: 30px;
  }

  &__description-block{
    width: 536px;
    @include contact-link-text;
  }

  &__name {
    color: $RedTextColor;
    margin-top: 10px;
  }

  &__main-list {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
  }

  &__column {
    flex: 1 1 0px;
  }

  &__header {
    @include contact-link-header;
  }

  &__link {
    text-decoration: none;
  }

  &__list-item {
    @include contact-link-text;
    margin-bottom: 15px;
  }
}