
@import '../../variables.scss';

.Header-section {

}

.LogoSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px ;

  @include section-horizontal-padding;

  &__logo {
    font-family: $LatoBlackFont;
    font-size: 40px;
    line-height: 21px;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 3.2px;
  }

  &__right-params {
    display: flex;
  }

  &__category{
    margin-right: 11px;
    font-family: $LatoRegularFont;
    font-weight: lighter;
    font-size: 14px;
    line-height: 21px;
    color: #212121;
    width: 150px;

  }

  &__category-item {
    font-family: $LatoRegularFont;
    font-weight: lighter;
    font-size: 14px;
    line-height: 21px;
    color: #212121;
  }

  &__search {
    font-family: $LatoRegularFont;
    font-weight: lighter;
    font-size: 14px;
    line-height: 21px;
    color: #bdbdbd;
    width: 380px
  }
}

.Page-nav-basket-container {
  background-color: #212121;
}

.Page-nav-basket {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 21px;
  @include section-horizontal-padding;
}

.Page-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;


  &__nav-item {
    text-decoration: none;
    margin-right: 45px;
    text-transform: uppercase;
    font-family: $LatoRegularFont;
    font-weight: lighter;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;

    &_onsale {
      position: relative;

      &:before {
        position: absolute;
        content: "on sale!";
        font-family: $LatoRegularFont;
        font-size: 11px;
        line-height: 21px;
        color: #ffffff;
        background-color: #fd4339;
        padding: 1px 8px;
        top: -32px;
        left: 12px;
        width: 49px;
      }

      &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid #fd4339;
        top: -11px;
        left: 17px;
      }
    }

    &_bestoff {
      position: relative;

      &:before  {

      position: absolute;
      content: "best off!";
      font-family: $LatoRegularFont;
      font-size: 11px;
      line-height: 21px;
      color: #ffffff;
      background-color: #00bcd4;
      padding: 1px 8px;
      top: -32px;
      left: 6px;
      width: 53px;
    }

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #00bcd4;
      top: -11px;
      left: 11px;
    }
    }


  }
}

.Basket-section {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &__favorites {
    color: #ffffff;
    margin-right: 34px;
    font-size: 17px;

    &:before {
      content: "0";
      color: #ffffff;
      font-family: $LatoRegularFont;
      font-weight: lighter;
      background-color: #fd4339;
      padding: 5px 6px;
      border-radius: 42px;
    }
  }

  &__basket {
    color: #ffffff;
    margin-right: 11px;
    font-size: 17px;
  }

  &__cart {
    color: #ffffff;
    font-size: 14px;
  }
}