
@import '../../variables.scss';


.LogoSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px ;

  @include section-horizontal-padding-small;

  @media (min-width: 1920px) {
    @include section-horizontal-padding-big;
  }


  &__logo {
    font-family: $LatoBlackFont;
    font-size: 40px;
    line-height: 21px;
    color: $MainBlackColor;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    margin: 0;
  }

  &__right-params {
    display: flex;
  }

  &__category{
    margin-right: 11px;
    @include small-text;
    color: $MainBlackColor;
    width: 150px;
    padding: 5px 8px;

  }

  &__category-item {
    @include small-text;
    color: $MainBlackColor;
  }

  &__search-form {
    position: relative;
  }

  &__search {
    @include small-text;
    color: #bdbdbd;
    width: 380px;
    padding: 5px 8px;
  }

  &__search-icon {
    position: absolute;
    font-size: 14px;
    right: 5px;
    top: 6px;
    background-color: white;
    pointer-events: none;
  }
}

.Page-nav-basket-container {
  background-color: $MainBlackColor;
}

.Page-nav-basket {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 21px;
  @include section-horizontal-padding-small;

  @media (min-width: 1920px) {
    @include section-horizontal-padding-big;
  }
}

.Page-nav {
  display: flex;
  margin: 0;
  padding: 0;


  &__nav-item {
    text-decoration: none;
    margin-right: 45px;
    text-transform: uppercase;
    @include contact-link-text;
    color: $WhiteColor;

    &_onsale {
      position: relative;

      &:before {
        position: absolute;
        content: "on sale!";
        font-family: $LatoRegularFont;
        font-size: 11px;
        line-height: 21px;
        color: $WhiteColor;
        background-color: #fd4339;
        padding: 1px 8px;
        top: -32px;
        left: 12px;
        width: 49px;
      }

      &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid #fd4339;
        top: -11px;
        left: 17px;
      }
    }

    &_bestoff {
      position: relative;

      &:before  {

      position: absolute;
      content: "best off!";
      font-family: $LatoRegularFont;
      font-size: 11px;
      line-height: 21px;
      color: $WhiteColor;
      background-color: #00bcd4;
      padding: 1px 8px;
      top: -32px;
      left: 6px;
      width: 53px;
    }

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #00bcd4;
      top: -11px;
      left: 11px;
    }
    }


  }
}

.Basket-section {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;

  &__favorites {
    position: relative;
    color: $WhiteColor;
    margin-right: 34px;
    font-size: 17px;
  }

  &__favorites-counter {
    position: absolute;
    left: -11px;
    top: -3px;
    border: 9px solid red;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__basket {
    position: relative;
    color: $WhiteColor;
    margin-right: 11px;
    font-size: 17px;
  }

  &__cart {
    color: $WhiteColor;
    @include small-text;
  }
}