
@import '../../variables.scss';

.Header-section {
  padding: 0 180px;
}

.LogoSection {
  display: flex;
  justify-content: space-between;

  &__logo {
    font-family: $LatoBlackFont;
    font-size: 40px;
    line-height: 21px;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 3.2px;
  }


  &__right-params {
    display: flex;
  }

  &__category{
    margin-right: 11px;
    font-family: $LatoLightFont;
    font-size: 14px;
    line-height: 21px;
    color: #212121;
  }

  &__category-item {
    font-family: $LatoLightFont;
    font-size: 14px;
    line-height: 21px;
    color: #212121;
  }
}