@import '../../variables.scss';

.DealSection {
  padding: 80px 78px 80px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $LightGrayBackground;

  @media (min-width: 1920px) {
    padding-left: 200px;
    padding-right: 170px;
  }

  &__image {
    width: 515px;
    height: 346px;
    background-color: $ProductDarkGrayColor;
  }

  &__timer-list {
    display: flex;
    padding-bottom: 30px;
    border-bottom: $BorderThin;
  }

  &__timer-item {
    margin-right: 28px;
    width: 69px;
    height: 69px;
    border: 1px solid $MainBlackColor;
    border-radius: 9px 9px 9px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__timer-number {
    font-family: $LatoBlackFont;
    font-size: 25px;
    line-height: 21px;
    color: $MainBlackColor;
  }

  &__timer_period {
    @include contact-link-text;
  }

  &__name-section {
    padding-top: 28px;
    padding-bottom: 34px;
    border-bottom: $BorderThin;
  }

  &__subtitle {
    font-family: $LatoRegularFont;
    font-size: 25px;
    line-height: 21px;
    color: $MainBlackColor;
    margin: 0;
  }

  &__stars {
    margin-top: 13px;
  }

  &__star-item {
    display: inline-block;
    margin-right: 3px;
    font-size: 20px;
  }

  &__cost {
    font-family: $LatoBlackFont;
    font-size: 30px;
    line-height: 21px;
    color: $RedTextColor;
    margin-top: 30px;
  }

  &__color-stock {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: $BorderThin;
  }

  &__color-pager {
    display: flex;
  }

  &__color {
    margin-right: 26px;
    @include product-name-text;
  }

  &__pager {
    margin-right: 93px;
  }

  &__pager-button {
    display: inline-block;
    border-radius: 7px;
    border-width: 7px;
    margin: 5px;
    border-style: solid;
    cursor: pointer;
  }

  &__pager-button_1 {
    color: #2196f3;
  }

  &__pager-button_2 {
    color: #ff9800;
  }

  &__pager-button_3 {
    color: #673ab7;
  }

  &__pager-button_4 {
    color: #607d8b;
  }

  &__pager-button_5 {
    color: #ff5722;
  }

  &__in-stock {
    @include product-name-text;
  }

  &__button-block {
    padding: 30px 0 50px 0;
  }

  &__button {
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    padding: 19px 24px 19px 52px;
    @include contact-link-text;
    color: #000000;

    &:hover, &:active .DealSection__button-bag .DealSection__button-heart{
      background-color: $RedTextColor;
      color: $WhiteColor;
    }
  }
  &__button_cart {
    margin-right: 24px;
  }

  &__button-symbol {
    position: absolute;
    left: 25px;
  }
}