
@font-face {
  font-family: 'Roboto Slab';
  src: url(./robotoslab/RobotoSlab-Regular.ttf);
}

@font-face {
  font-family: 'Lato Light';
  src: url(./Lato2OFL/Lato2OFL/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato Italic';
  src: url(./Lato2OFL/Lato2OFL/Lato-Italic.ttf);
}

@font-face {
  font-family: 'Lato Bold';
  src: url(./Lato2OFL/Lato2OFL/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Lato Black';
  src: url(./Lato2OFL/Lato2OFL/Lato-Black.ttf);
}

@font-face {
  font-family: 'Lato Regular';
  src: url(./Lato2OFL/Lato2OFL/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lovelo Black';
  src: url(./lovelo/Lovelo_Black.otf);
}