
@import '../../variables.scss';

.Header {

    @include section-horizontal-padding-small;


  @media (min-width: 1920px) {
    @include section-horizontal-padding-big;
  }


  padding-top: 20px;
  padding-bottom: 60px;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__left-params {
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
  }


  &__select-style {
  @include small-text;
    color: $MainBlackColor;
    border: none;
  }

  &__left-params-item {
    position: relative;
    padding: 0 16px;
    border-right: 1px solid #e0e0e0;
    @include small-text;
    color: $MainBlackColor;



    &_value {
      padding: 0 16px 0 0;
    }

    &_noborder {
      border-right: none;
    }
  }

  &__icon-angle-value {
    position: absolute;
    font-size: 14px;
    left: 38px;
    top: -1px;
    background-color: white;
    pointer-events: none;
  }

  &__icon-angle-language {
    position: absolute;
    font-size: 14px;
    left: 74px;
    top: -1px;
    background-color: white;
    pointer-events: none;

  }

  &__nav {
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
  }

  &__nav-item {
    padding: 0 18px;
    text-decoration: none;
    border-right: 1px solid #e0e0e0;
    @include small-text;
    color: $MainBlackColor;

    &_noborder {
      border: none;
    }
  }


}
