
@import '../../variables.scss';

.Header {
  @include section-horizontal-padding-small;

  @media (min-width: 1920px) {
    @include section-horizontal-padding-big;
  }

  padding-top: 20px;
  padding-bottom: 60px;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__left-params {
    display: flex;
    flex-direction: row;
  }

  &__select-style {
    @include small-text;
    color: $MainBlackColor;
    border: none;
  }

  &__left-params-item {
    position: relative;
    padding: 0 16px;
    border-right: $BorderThin;
    @include small-text;
    color: $MainBlackColor;

    &_value {
      padding: 0 16px 0 0;
    }

    &_noborder {
      border-right: none;
    }
  }

  &__icon-angle {
    display: flex;
    position: absolute;
    top: 4px;
    background-color: white;
    font-size: 14px;
    pointer-events: none;

    &_value {
      left: 38px;
    }

    &_language {
      left: 72px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
  }

  &__nav-item {
    padding: 0 18px;
    text-decoration: none;
    border-right: $BorderThin;
    @include small-text;
    color: $MainBlackColor;

    &_noborder {
      border: none;
    }
  }
}
