
$LatoLightFont: Lato Light, Arial, Helvetica, sans-serif;
$LatoBlackFont: Lato Black, Arial, Helvetica, sans-serif;
$LatoRegularFont: Lato Regular, Arial, Helvetica, sans-serif;
$LatoBoldFont: Lato Bold, Arial, Helvetica, sans-serif;
$LoveLoBlackFont: Lovelo Black, Arial, Helvetica, sans-serif;
$MainBlackColor: #212121;
$RedTextColor: #f44336;
$LightGrayBackground: #f5f5f5;

@mixin section-horizontal-padding-small {
  padding-left: 78px;
  padding-right: 78px;
}

@mixin section-horizontal-padding-big {
  padding-left: 170px;
  padding-right: 170px;
}

@mixin contact-link-header {
  font-family: $LatoBlackFont;
  font-size: 16px;
  color: $MainBlackColor;
  letter-spacing: 2.4px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}

@mixin contact-link-text {
  font-family: $LatoLightFont;
  font-size: 16px;
  color: $MainBlackColor;
  line-height: 27px;
}