
$LatoLightFont: Lato Light, Arial, Helvetica, sans-serif;
$LatoBlackFont: Lato Black, Arial, Helvetica, sans-serif;
$LatoRegularFont: Lato Regular, Arial, Helvetica, sans-serif;
$LoveLoBlackFont: Lovelo Black, Arial, Helvetica, sans-serif;

@mixin section-horizontal-padding {
  padding-left: 78px;
  padding-right: 78px;
}