@import '../../variables.scss';

.AdvantagesSection-container {
  @include section-horizontal-padding-small;
}

.AdvantagesSection {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 74px;
    border-right: 1px solid #e0e0e0;

    &:last-child {
      border-right: none;
    }
  }

  &__subtitle {
    margin-block-start: 0;
    font-family: $LatoBlackFont;
    font-size: 16px;
    line-height: 21px;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 14px;
  }

  &__description {
    font-family: $LatoRegularFont;
    font-weight: lighter;
    font-size: 16px;
    color: #212121;
  }

  &__divider {
    margin-top: 40px;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
  }

  &__divider-shadow {
    height: 20px;
    width: 386px;
    background-image: url('/images/shadow.png');
  }
}